# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.axf

# Debug files
*.dSYM/

# Project files
*.uvproj
*.uvgui*
*.uvopt
*.crf
*.bak
*.htm
*.lnp
*.map
*.lst

# Dependency files
*.dep
*.d

